@import "tailwindcss";

@layer components {
  .input-base {
    @apply w-full px-3 py-2 mb-5 rounded-lg border border-slate-600
           focus:outline-none focus:ring-2 focus:ring-slate-400
           focus:border-transparent bg-slate-600 text-white font-semibold text-lg;
  }

  .base-btn {
    @apply rounded-lg py-2 mt-5 bg-slate-400 w-full text-lg font-bold cursor-pointer border-0 hover:bg-slate-500;
  }

  .card {
    @apply bg-slate-800  p-5  rounded shadow-2xl;
  }
}

#googleBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px; /* optional */
}
